.navigation div {
    color: #949ba2 !important;
}

.navigation .sidenav---selected---1EK3y div {
    color: #c0c4c8 !important;
}

.luna-nav.nav li a:hover, .luna-nav.nav li a:focus {
    color: #C741FC !important;
    background: inherit;
}

.customNav{
    color: #C741FC !important;
    background: inherit;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
    padding: 8px 15px 8px 25px;
    margin: 0 0;
    height: 36px;
    line-height: 20px;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
    border-left: 6px solid #9400CE;
    padding-left: 19px;
    color: #C741FC;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T {
    height: 36px;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T::after {
    opacity: 0;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
    color: #C741FC !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T::after {
    background: #2f323b;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T::after, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T::after {
    background: #2f323b;
}

.nav-category {
    color: #FFFFFF;
    margin-top: 10px !important;
    margin-bottom: 10px;
}

.sidenav---sidenav-nav---3tvij > .nav-category {
    padding: 8px 15px 8px 25px;
    margin: 0 0;
}

.panel-body > .row {
    margin-left: 0;
    margin-right: 0;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
    padding-top: 15px;
}

.switchery-small {
    border-radius: 15px;
    height: 15px;
}

.switchery-small > small {
    height: 15px;
    width: 15px;
}

.switch-class.network-switch label {
    font-size: 75% !important;
    color: #949ba2 !important;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.hrPanel {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-full-width {
    width: 100%;
}

.label-btn {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}
.panel-heading{
    font-size: 1.4rem;
}

.dropdown-luna{
    background: #9400CE;
    color: #fff;
}
.li-a{
    color: #fff !important;
}
.li-a:hover{
    color: #fff !important;
    background-color: #9400CE !important;
}
.dropdown-lu{
    background: #2f323b;
}

.dataTables_length.bs-select > label {
    color: #949ba2;
}

.dataTables_length.bs-select > label > .custom-select {
    width: 65px;
    display: inline;
    color: #ffffff;
    background-color: #9400CE;
    border-color: #9400CE;
    font-size: 1em;
    font-family:Roboto, sans-serif;
}

.dataTables_length.bs-select > label > .custom-select  option {
    background-color:rgb(47, 50, 59);
    color: #fff;
}

.pagination{
    margin-top: 0;
}

.pagination > li > a:hover {
    cursor: pointer;
}

pre {
    background-color: transparent;
    color: #949ba2!important;
}

#txhistory div[data-test="datatable-table"] {
    max-width : 100%;
    overflow-x: scroll;
}

#txhistory td {
    white-space: nowrap;
}
