nwjs_build_type=sdk
npm_config_target=0.42.0
npm_config_arch=x64
npm_config_target_arch=x64
npm_config_runtime=node-webkit
npm_config_build_from_source=true
npm_config_node_gyp=C:\\Users\\eriks\\AppData\\Roaming\\nvm\\v12.13.0\\node_modules\\nw-gyp\\bin\\nw-gyp.js